<nav class="navbar navbar-light bg-secondary justify-content-between">
  <div>
    <a href="/empleado" class="link-button ml-2">Empleado</a>
  </div>
  <div style="display: inline">
    <button (click)="salir()" *ngIf="usuario" class="btn btn-outline-light mr-2">Salir</button>
    <button (click)="login()" *ngIf="!usuario" class="btn btn-outline-light mr-2">Login</button>
    <a class="mr-3" data-widget="fullscreen" role="button">
      <i class="fas fa-expand-arrows-alt" style="color: white;"></i>
    </a>
  </div>
</nav>
