<form (ngSubmit)="enviar(AsistenciaForm)" #AsistenciaForm="ngForm" autocomplete="off">
  <span [ngSwitch]="crud">
    <div *ngSwitchCase="true">
      <div class="row m-2">
        <label class="col-3 form-label">ID: </label>
        <div class="col-9">
          <input type="text" [(ngModel)]="asistencia.id" name="id" class="form-control" readonly required>
        </div>
      </div>
    </div>
    <div *ngSwitchCase="false">
      <div class="row m-2">
        <label class="col-3 form-label">Codigo Empleado: </label>
        <div class="col-9">
          <input type="text" [(ngModel)]="asistencia.cod_empleado" name="cod_empleado" class="form-control" required>
          <span style="color: red;" *ngIf="AsistenciaForm.submitted&&AsistenciaForm.controls['cod_empleado'].errors">Este Campo es
            obligatorio (*)</span>
        </div>
      </div>
    </div>
  </span>
  <div class="row m-2">
    <label class="col-3 form-label">Fecha: </label>
    <div class="col-9">
      <input type="datetime-local" [(ngModel)]="asistencia.fecha" id="fecha" name="fecha" class="form-control" required>
      <span style="color: red;" *ngIf="AsistenciaForm.submitted&&AsistenciaForm.controls['fecha'].errors">Este Campo es
        obligatorio (*)</span>
    </div>
  </div>

  <div class="row m-2">
    <label class="col-3 form-label">Identificador: </label>
    <div class="col-9">
      <select [(ngModel)]="asistencia.identificador" name="identificador" class="custom-select" required>
        <option value="null">Seleccione un identificador</option>
        <option value="ENTRADA">ENTRADA</option>
        <option value="SALIDA">SALIDA</option>
      </select>
      <span style="color: red;" *ngIf="AsistenciaForm.submitted&&AsistenciaForm.controls['identificador'].errors">Este Campo es
        obligatorio (*)</span>
    </div>
  </div>
  <button type="submit" class="btn btn-success">Aceptar</button>
</form>
