<div class="wrapper">
  <app-header></app-header>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">

      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 col-sm-12">
            <div class="card card-primary card-tabs">
              <div class="card-header p-0 pt-1">
                <ul class="nav nav-tabs">
                  <li class="nav-item">
                    <a class="nav-link active" data-toggle="pill" href="#asistencia-crud">Asistencia</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#custom-tabs-one-empleado">Empleado</a>
                  </li>
                </ul>
              </div>
              <div class="card-body">
                <div class="tab-content">
                  <div class="tab-pane fade show active" id="asistencia-crud">
                    <button class="buttoncss" (click)="exportToExcel()">Export to Excel</button>
                    <table  *ngIf="asistencia!=null" id="asistencia-excel" class="table">
                      <thead>
                        <tr>
                          <th scope="col" style="width: 60px;">ID</th>
                          <th scope="col">FECHA</th>
                          <th scope="col">TIPO</th>
                          <th scope="col">IDENTIFICADOR</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let fila of asistencia | paginate: { itemsPerPage: 10, currentPage: po } ">
                          <td>{{fila.id}}</td>
                          <td>{{fila.fecha|date:'short'}}</td>
                          <td>{{fila.tipo}}</td>
                          <td>{{fila.identificador}}</td>
                        </tr>
                      </tbody>
                    </table>
                    <pagination-controls (pageChange)="po = $event"></pagination-controls>
                  </div>
                  <div class="tab-pane fade" id="custom-tabs-one-empleado">
                    <div class="row">
                      <div class="col-12 col-sm-12">
                        <div class="card card-light card-tabs">
                          <div class="card-header p-0 pt-1">
                            <ul class="nav nav-tabs">
                              <li class="nav-item">
                                <a class="nav-link" (click)="ListarEmpleado()" data-toggle="pill"
                                  href="#listar-crud-empleado">Listado</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link active" data-toggle="pill" href="#crear-crud-ref">Crear</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link actualizar-crud-empleado-btn" id="id_update_crud" data-toggle="pill"
                                  href="#update-crud-ref" >Actualizar</a>
                              </li>
                            </ul>
                          </div>
                          <div class="card-body">
                            <div class="tab-content">
                              <div class="tab-pane fade show" id="listar-crud-empleado">
                                <table *ngIf="empleados!=null" class="table">
                                  <thead>
                                    <tr>
                                      <th scope="col" style="width: 60px;">ID</th>
                                      <th scope="col">NOMBRE</th>
                                      <th scope="col">TIPO DOCUMENTO</th>
                                      <th scope="col">NUMERO DOCUMENTO</th>
                                      <th scope="col">AREA</th>
                                      <th scope="col">EDITAR</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr *ngFor="let fila of empleados" >
                                      <td>{{fila.id}}</td>
                                      <td>{{fila.nombre}}</td>
                                      <td>{{fila.num_doc}}</td>
                                      <td>{{fila.tipo_doc}}</td>
                                      <td>{{fila.area}}</td>
                                      <td><a style="cursor: pointer;" (click)="openEdit(fila)"><i
                                            class="bi bi-pencil-square"></i></a></td>
                                    </tr>
                                  </tbody>
                                </table>
                                <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
                              </div>
                              <div class="tab-pane fade show active" id="crear-crud-ref">
                                <app-empleado-crud (empleadoUpdate)="enviar($event,false)" [crud]="false"></app-empleado-crud>
                              </div>
                              <div class="tab-pane fade show" id="update-crud-ref">
                                <app-empleado-crud (empleadoUpdate)="enviar($event,true)" [empleado]="empleado"
                                  [crud]="true">
                              </app-empleado-crud>
                              </div>
                            </div>
                          </div>
                          <!-- /.card -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 3.2.0
    </div>
  </footer>
  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
