<app-header></app-header>
<div class="">

  <!-- Content Wrapper. Contains page content -->
  <div class="">

    <!-- Main content -->
    <section class="content">
      <div class="m-2">
        <div class="row">
          <div class="col-12 col-sm-12">
            <div class="card card-light card-tabs">
              <div class="card-header p-0 pt-1">
                <ul class="nav nav-tabs">
                  <li class="nav-item">
                    <a class="nav-link active" data-toggle="pill" href="#asistencia-crud">Asistencia</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#custom-tabs-one-empleado">Empleado</a>
                  </li>
                </ul>
              </div>
              <div class="card-body">
                <div class="tab-content">
                  <div class="tab-pane fade show active" id="asistencia-crud">
                    <div class="form-group">
                      <input type="text" class="input_ezb" placeholder="Buscar.." [(ngModel)]="filterpost" name="filterpost"/>
                     <button class="buttoncss" style="float: right;" (click)="exportToExcel()">Export to Excel</button> </div>

                    <table *ngIf="asistencia!=null" id="asistencia-excel" class="table">
                      <thead>
                        <tr>
                          <th scope="col" style="width: 60px;">ID</th>
                          <th scope="col">FECHA</th>
                          <th scope="col">NOMBRE</th>
                          <th scope="col">IMAGEN</th>
                          <th scope="col">TIPO</th>
                          <th scope="col">IDENTIFICADOR</th>
                        </tr>
                      </thead>
                      <tbody>

                        <tr *ngFor="let fila of asistencia | paginate: { itemsPerPage: 10, currentPage: po }| filter:filterpost:['nombre','fecha','identificador','tipo']; let i = index">
                          <td>{{fila.id}}</td>
                          <!-- |date:'short' -->
                          <td>{{fila.fecha}}</td>
                          <td>{{fila.nombre}}</td>
                          <td><a style="cursor: pointer;" (click)="mostrarImagen(fila.imagen)"><img width="50"
                                [src]="fila.imagen |imagen"></a></td>
                          <td>{{fila.tipo}}</td>
                          <td>{{fila.identificador}}</td>
                        </tr>
                      </tbody>
                    </table>
                    <pagination-controls (pageChange)="po = $event"></pagination-controls>

                  </div>
                  <div class="tab-pane fade" id="custom-tabs-one-empleado">
                    <div class="row">
                      <div class="col-12 col-sm-12">
                        <div class="card card-light card-tabs">
                          <div class="card-header p-0 pt-1">
                            <ul class="nav nav-tabs">
                              <li class="nav-item">
                                <a class="nav-link" (click)="ListarEmpleado()" data-toggle="pill"
                                  href="#lce">Listado</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link active" data-toggle="pill" href="#ccr">Crear</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link actualizar-crud-empleado-btn" id="id_update_crud" data-toggle="pill"
                                  href="#ucr">Actualizar</a>
                              </li>
                            </ul>
                          </div>
                          <div class="card-body">
                            <div class="tab-content">
                              <div class="tab-pane fade show" id="lce">
                                <table *ngIf="empleados!=null" class="table">
                                  <thead>
                                    <tr>
                                      <th scope="col" style="width: 60px;">ID</th>
                                      <th scope="col">NOMBRE</th>
                                      <th scope="col">NUMERO DOCUMENTO</th>
                                      <th scope="col">TIPO DOCUMENTO</th>
                                      <th scope="col">LOCAL</th>
                                      <th scope="col">EDITAR</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr *ngFor="let fila of empleados |paginate: { itemsPerPage: 10, currentPage: empleado_p}">
                                      <td>{{fila.id}}</td>
                                      <td>{{fila.nombre}}</td>
                                      <td>{{fila.num_doc}}</td>
                                      <td>{{fila.tipo_doc}}</td>
                                      <td>{{fila.descripcion}}</td>
                                      <td><a style="cursor: pointer;" (click)="openEdit(fila)"><i
                                            class="bi bi-pencil-square"></i></a></td>
                                    </tr>
                                  </tbody>
                                </table>
                                <pagination-controls (pageChange)="empleado_p = $event"></pagination-controls>
                                <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
                              </div>
                              <div class="tab-pane fade show active" id="ccr">
                                <app-empleado-crud (empleadoUpdate)="enviar($event,false)" [crud]="false">
                                </app-empleado-crud>
                              </div>
                              <div class="tab-pane fade show" id="ucr">
                                <app-empleado-crud (empleadoUpdate)="enviar($event,true)" [empleado]="empleado"
                                  [crud]="true">
                                </app-empleado-crud>
                              </div>
                            </div>
                          </div>
                          <!-- /.card -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <!-- /.control-sidebar -->
</div>
<!-- Button trigger modal -->
